/* #font1 {
    
    font-family: 'Quattrocento Sans', sans-serif;
}

#font2 {
    
    font-family: 'Asap', sans-serif;
}

#font3 {
    
    font-family: 'Didact Gothic', sans-serif;
}

#font4 {
    
    font-family: 'Spectral SC', serif;

}

#font5-1 {
    
    font-family: 'Alegreya Sans SC', sans-serif;
}

#font5-2 {
    
    font-family: 'Alegreya Sans SC', sans-serif;
}

*/



hr {
    width: 5%;
    color: whitesmoke;
}

/* Centered text */
.centered {
    color: whitesmoke
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

